* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.title {
font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: -200px 0 300px; */
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.answer h2 {
  margin-bottom: 50px;
}

.choices {
  margin-top: 100px;
  display: flex;
  gap: 200px;
  padding-bottom: 200px;
}

img {
  width: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: transparent;
  border:2px solid rgb(128, 128, 128,0.1);
  padding:20px;
  border-radius:10px;
  
}

img:hover {
  background-color: #fff;
  transform: scale(1.05);
  animation-duration: 0.2s;
  border: none;
  box-shadow: 1px 2px 55px rgb(0,0,0,0.5)
  ;
}

.options {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}


.computer,
.player {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}

.answer h3 {
  padding:20px;
}